.team-left {
  max-width: 596px;
  background: #FFFFFF;
box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
border-radius: 5px;
padding: 30px;
display: flex;
flex-direction: column;
align-items: center;
}
.team-left + .team-left {
  margin-left: 39px;
}
.team-left-p {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
color: #544c4c;
}
.team-card {
  display: flex;
  align-items: center;
}
.team-card-img {
  margin-right: 16px;
  margin-bottom: 24px;
}
.team-card-p {
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 200%;
color: #312e2e;
}
.team-card-text {
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 200%;
color: #949494;
}
.team-span {
  color: #212121;
  font-weight: 700;
}